table
{
	border: 1px solid black;
	border-right: 0;
	border-bottom: 0;
}

table thead
{
	font-weight: bold;
	text-align: center;
}

table td
{
	border-bottom: 1px solid black;
	border-right: 1px solid black;
	padding: .5em;
}

table.timeForm{
	border: none;
}

table.timeForm thead
{
	font-weight: normal;
	text-align: left;
}

table.timeForm td
{
	border: none;
	padding: .25em 0em;
	padding-right: 2em;
}

table.addPage thead
{
	background: #CCF;
}

table.addPage#conflicts thead
{
	background:#FCC;
}


.timeColumn 
{
	font-weight: bold;
	//font-size: small;
	width: 5%;
}

.foundEvent
{
	padding: 0em;
}

.foundEvent .startTime
{
	padding:  2px 0em;
	margin: 0em;
	font-size: x-small;
	text-align: center;
	border-bottom: 1px dashed black;
	width: 100%;
}

.foundEvent .event
{
	margin: .5em;
}

.foundEvent .endTime
{
	padding: 2px 0em;
	margin: 0em;
	font-size: x-small;
	text-align: center;
	border-top: 1px dashed black;
	width: 100%;
}


/* VIEW EVENT SECTION */

table#viewEvent
{
	width: 50%;
}

table#viewEvent col.property
{
	background: #BBF;
}

div#addBox
{
	width: 35%;
	padding: 1em .5em;
	border: 1px dashed black;
	border-top: none;
}

/* USER SCHEDULE SECTION */

table.userSchedule
{
	width: 85%;
}

.userSchedule thead
{
	background: #CCF;
}

.userSchedule td#day
{
	width: 15%;
}

.userSchedule td#room
{
	width: 15%;
}

.userSchedule td#startTime
{
	width: 15%;
}

.userSchedule td#endTime
{
	width: 15%;
}

.userSchedule td.dayBreak
{
	border-top: 2px solid black;
}

table.conflicted
{
	width: 85%;
}

.conflicted td.name
{
	width: 20%;
}

div#addUserEvent_submit
{
	padding-right: 8%;
	float: right;
}