/*
 *      MEWSchedule.css
 *      
 *      Copyright © 2009, 2010 Drew Fisher <kakudevel@gmail.com>
 *		ALL RIGHTS RESERVED
 *      
 *      This program is free software; you can redistribute it and/or modify
 *      it under the terms of the GNU General Public License as published by
 *      the Free Software Foundation; either version 2 of the License, or
 *      (at your option) any later version.
 *      
 *      This program is distributed in the hope that it will be useful,
 *      but WITHOUT ANY WARRANTY; without even the implied warranty of
 *      MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *      GNU General Public License for more details.
 *      
 *      You should have received a copy of the GNU General Public License
 *      along with this program; if not, write to the Free Software
 *      Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston,
 *      MA 02110-1301, USA.
 */
 
body
{
	background-color: #FFF;
	margin-left: 8px;
	margin-right: 8px;
}

table
{
	border-collapse: collapse;
	width: 100%;
}

table thead
{
	font-weight: bold;
	text-align: center;
}

table td, table th
{
	border: 1px solid black;
	padding: .25em;
	top: 0px;
	left: 8px;
	background-color: #fff;
	width: 13%;
}

caption, caption h2
{
	border-top: 1px double #000;
	border-bottom: 1px double #000;
	margin-top: 8px;
	margin-bottom: 8px;
}

caption h2
{
	padding-top: 8px;
	padding-bottom: 8px;
}

table.timeForm{
	border: none;
}

table.timeForm thead
{
	font-weight: normal;
	font-size: small;
	color: #707070;
	text-align: left;
}

table.timeForm td
{
	border: none;
	padding: .25em 0em;
	padding-right: 2em;
}

table.addPage thead
{
	background: #CCF;
}

table#conflicts thead
{
	background:#FCC;
}


.timeColumn 
{
	font-weight: bold;
	//font-size: small;
	width: 4%;
	text-align: center;
	height: 3em;
}

.foundEvent
{
	padding: 0em;
}

.foundEvent .startTime
{
	padding:  2px 0em;
	margin: 0em;
	font-size: x-small;
	text-align: center;
	border-bottom: 1px dashed black;
	width: 100%;
}

.foundEvent .event
{
	margin: .5em;
}

.foundEvent .endTime
{
	padding: 2px 0em;
	margin: 0em;
	font-size: x-small;
	text-align: center;
	border-top: 1px dashed black;
	width: 100%;
}

/* HEADER MENU SECTION */

div#headerMenu
{
	border: 2px solid #000;
	width: 80%;
	margin: auto;
	text-align: center;
}

#headerMenu ul
{
	margin: 0em;
	padding: .5em;
}

#headerMenu ul li
{
	display: inline;
	padding-left: 1em;
	padding-right: 1em;
	border-left: 1px solid black;
}

#headerMenu ul li:first-child
{
	padding-left: 0em;
	border-left: none;
}
/* VIEW EVENT SECTION */

table#viewEvent
{
	width: 50%;
}

table#viewEvent col.property
{
	background: #BBF;
}

div#addBox
{
	width: 35%;
	padding: 1em .5em;
	border: 1px dashed black;
	border-top: none;
}

/* USER SCHEDULE SECTION */

table.userSchedule
{
	width: 85%;
}

.userSchedule thead
{
	background: #CCF;
}

.userSchedule td#day
{
	width: 15%;
}

.userSchedule td#room
{
	width: 15%;
}

.userSchedule td#startTime
{
	width: 15%;
}

.userSchedule td#endTime
{
	width: 15%;
}

.userSchedule td.dayBreak
{
	border-top: 2px solid black;
}

table.conflicted
{
	width: 85%;
}

.conflicted td.name
{
	width: 20%;
}

div#addUserEvent_submit
{
	padding-right: 8%;
	float: right;
}
